

.nav-container{
    display:flex;
    width:100%;
    height:75px;
    justify-content:space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media only screen and (min-width:100px) and (max-width:800px) {
    .nav-container {
        display: none;
    }
    .TextHeading{
       text-align: center;  
    }
    
}
@media only screen and (min-width:800px)  and (max-width:16000px){
    .drawer{
        display: none;
    }
}

/* For Mobile devices: 320px-480px
For Tablets or iPad: 480px - 768px
For Laptop or small-size screen: 768px -1024px
For Desktop or large-size screen: 1024px -1200px
For Extra-large size device: 1200px and more */



.menu-container ul{
    display:flex;
    list-style: none;
    justify-content:space-around;
}
.menu-container{
    width:35%;
    margin-left: -100px;
}
.search-bar-icons{

    display:flex;
    width:45%;
    justify-content:space-evenly;
    align-items: center;

}
.icon-profile-bag-wishlist{
    position: relative;
    left:13px;
}

